body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b_error {
  background-color: lightcoral;
}

.b_loading {
  background-color: aqua;
  color:black;
}


/* POP UP CSS */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  background-color: darkred;
}

.blue-button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none; /* This can be useful if you use the styles for a link */
}

.blue-button:hover {
  background-color: #0056b3;
}




input[type="url"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="url"]::placeholder {
  color: grey;
  font-style: italic;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.refresh_button {
  background-color: #ffeb3b; /* Bright yellow background */
  color: #000000; /* Black text */
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.refresh_button:hover {
  transform: scale(1.1); /* Apply scale transformation on hover */
  background-color: #000000; /* Bright yellow background */
  color: #ffeb3b;
}
